# CMake build folders
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio files
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf
*.VC.db

# 编译输出
*.exe
*.out
*.obj
*.o
*.a
*.lib
*.dll
*.so
*.dylib

# 日志和临时文件
*.log
*.tmp

# 编辑器/操作系统文件
.DS_Store
Thumbs.db

# 结果图片
result.jpg
